.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

.size(@height, @width) {
  width: @width;
  height: @height;
}

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

@fontAwesomePath: '../font';

@font-face {
  font-family: 'EmbedFontAwesome';
  src: url('@{fontAwesomePath}/fontawesome-webfont.eot');
  src: url('@{fontAwesomePath}/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('@{fontAwesomePath}/fontawesome-webfont.woff') format('woff'),
    url('@{fontAwesomePath}/fontawesome-webfont.ttf') format('truetype'),
    url('@{fontAwesomePath}/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

.gifly-embed {
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-family: 'arial', 'helvetica', sans-serif;
  font-size: 12px;

  &:hover .gifly-controls { left: 2px; }

  .gifly-figure {
    position: relative;
    display: block;
    float: left;
  }


  .gifly-progress {
    .size(2px,5%);
    position: absolute;
    background: #049CDB;
    left: 0; top: 0;
    .box-shadow(0px 0px 4px 0px #049CDB);
    .transition(width 0.4s ease-in-out);
  }

  .gifly-controls {
    position: absolute;
    height: 34px;
    bottom: 5px;
    left: -250px;
    background: rgba(255,255,255, 0.5);
    .transition(e('left 0.2s ease-in-out'));

    a {
      text-decoration: none;
      color: #000;
      font-size: 20px;
      padding: 7px;
      float: left;

      &:active i {
        position: relative;
        bottom: -1px;
        right: -1px;
      }

      &.gifly-logo {
        text-indent: -1000em;
        .size(27px, 42px);
        background: url('data:image/gif;base64,R0lGODlhKgAbAJECAP///wAAAAAAAAAAACH5BAUUAAIALAAAAAAqABsAAAInlIKpy+1ozpv0yYqz3rz7D4biSJbmiabqyrbuC8fyTNf2PV9wFBsFACH5BAUUAAIALA0ACwAUAAYAAAIOlI+JAOqvGpz0yIrFRQUAIfkEBRQAAgAsCgALABQABgAAAg2Uf4Ci648anIzaa6UtACH5BAUUAAIALAwACwATAAUAAAIMlGGpy+3/EJxJVgUKACH5BAUUAAIALA0ACwAQAAYAAAIMlI8JyS3rDoy0KgcKACH5BAUUAAIALAsACwAUAAYAAAINhI5pye0PI1qy2rpAAQAh+QQFFAACACwLAAsAFAAGAAACDZQPeMvN6aKcElJn7yoAIfkEBRQAAgAsDAALABQAAwAAAgqEbqfL7Z3giqoAACH5BAUUAAIALAwADAATAAUAAAINlAWny93JoJsUVSNFAQAh+QQFFAACACwKAAsAEAAGAAACDJSPgMusDeN6stJVAAAh+QQFFAACACwKAAwACgAFAAACCISOqWjrn5ooACH5BAUUAAIALAoADAAKAAQAAAIHlH+Ay6stCgAh+QQFFAACACwNAA8AAQABAAACAkQBACH5BAUUAAIALBcAEAABAAEAAAICRAEAOw%3D%3D') no-repeat;
        margin: 5px 0 0 6px;
        padding: 0 7px 0 0;
      }
    }
  }

  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: EmbedFontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
  }

  a [class^="icon-"],
  a [class*=" icon-"] {
    display: inline-block;
    text-decoration: inherit;
  }

  .icon-play:before                 { content: "\f04b"; }
  .icon-pause:before                { content: "\f04c"; }
  .icon-link:before                 { content: "\f0c1"; }
  .icon-magic:before                { content: "\f0d0"; }

}
