@import 'reset';
@import 'variables';
@import 'mixins';
@import 'font-awesome';
@import 'isotope';
@import 'markdown';

@ltgray: #E6E6E6;

.sprite () { background: url(/assets/img/sprite.gif) no-repeat top left; }

html, body { height: auto; height: 100%; }

body {
  #font > #family > .sans-serif();
  margin: 0 0 0 60px;
  /* background: url(http://i.wookiehangover.com.s3.amazonaws.com/ob_stars.gif); */
}

img:-webkit-full-screen {
  height: auto;
}

figure {
  position: relative;
  margin: 0 0 20px;
  float: left; clear: both;
}

header {
  position:fixed;
  float:left;
  left:0px;
  top:60px;
  z-index: 1010;

  h1 {
    display:block;
    float:left;
    z-index: 1010;
    position: relative;
    background: url(/assets/img/logo_side.gif) no-repeat top left;
    text-indent:-2000em;
    margin: 0 0;
    .size(27px,45px);

    a {
      display:block;
      .size(100%,100%);
    }

  }

  .sub () {
    float:left;
    clear:both;
    .border-radius(e('0 3px 3px 0'));
    .size(26px,26px);
    font-size:11px;
    margin-top:2px;
    background-color:@gray;

    a {
      float:left;
      clear: both;
      color: @white;
      position:absolute;
      text-decoration:none;
      .size(100%,100%);
      .sprite();
    }
  }

  &:hover nav .user-nav {
    left: 0px;
  }
  nav {
    .user-nav {
      .sub();
      cursor:pointer;
      position:relative;
      float:left;
      width:74px;
      left: -48px;
      .transition(left 0.3s ease-out);

      &:hover {
        background: @grayDark;
      }

      a {
        width: 60px;
        padding: 6px 9px 0 5px;
      }

      .login-link  { background-position:55px -29px; }
      .logout-link { background-position:55px -279px;}
      .signup-link { background-position:55px -65px; }
      .readme-link { background-position:55px -97px;}
    }
  }

}

body > h1 {
  background: @ltgray;
  float: left;
  margin-top: 0;
  margin-left: 20px;
  padding: 0 6px;
}

form {
  float: left;
  clear: both;
  width: 416px;
  padding-left: 20px;
  font-size: 12px;

  .form-row {
    float: left; clear: both;
    width: 100%;
    margin-bottom: 10px;

    label {
      float: left;
      width: 120px;
      padding-top: 8px;
    }

    input[type=text], input[type=password] {
      float: left;
      background: @ltgray;
      border: 0;
      border-bottom: 1px solid @gray;
      padding: 8px;
      width: 220px;
      -webkit-appearance:none;
    }

  }

  input[type=submit] {
    float: left;
    clear: both;
  }

}

section {
  float:left;
  clear:both;
  .markdown();
  margin-left: 20px;
  overflow: hidden;
  height: 0;
  .transition(all 0.4s ease-in-out);

  &.js-show {
    margin-bottom: 2em;
    height: 488px;
  }
}

#grid {
  #grid > .core(188px, 20px);
  height: 100%;
  width: 100%;
  float: left; clear: both;

  article {
    overflow: hidden;
    z-index: 1000;

    figure {
      .transition(e('opacity 0.6s ease-in'));
      .opacity(50);
      position: relative;
      :after {
        content: "loading...";
        #font > #family > .monospace();
        font-size: 8px;
        padding: 4px;
        .transition(opacity 0.6s ease-in);
      }
    }

    &:hover .controls { left: 0; }

    .controls {
      position: absolute;
      bottom: 20px;
      left: -11em;
      background: rgba(255,255,255, 0.5);
      height: 3em;
      .transition(e('left 0.2s ease-in-out'));

      a {
        text-decoration: none;
        color: @black;
        font-size: 1.5em;
        padding: 0.5em;
        float: left;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);

        &:active i {
          position: relative;
          bottom: -1px;
          right: -1px;
        }
      }
    }

    .progress {
      .size(2px,5%);
      position: absolute;
      background: @blue;
      left: 0; top: 0;
      .box-shadow(0px 0px 4px 0px @blue);
      .size(2px,5%);
      .transition(width 0.4s ease-in-out);
    }
  }

  &.isotope article figure {
    .opacity(100);
    :after {
      .opacity(0);
    }
  }
}

.no-js #grid {
  article figure {
    .opacity(100);
  }
}

#loader {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  font-size: 10px;
  background: @ltgray;

  &.js-show {
    z-index: 1010;
    display: block;

    -webkit-animation: blink 1s infinite;
       -moz-animation: blink 1s infinite;
         -o-animation: blink 1s infinite;
            animation: blink 1s infinite;
  }
}

@-webkit-keyframes blink {
  0%   { opacity: 0.0; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.0; }
}
@-moz-keyframes blink {
  0%   { opacity: 0.0; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.0; }
}
@-o-keyframes blink {
  0%   { opacity: 0.0; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.0; }
}
@keyframes blink {
  0%   { opacity: 0.0; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.0; }
}

@media all and (max-height: 480px){

  body { margin: 0; }

  body > h1 {
    width: 100%; text-align: center; margin-left: 0; padding: 4px 0;
  }

  header h1 {
    .rotate(-90deg);
    margin-left:-11px;
    margin-bottom: 9px;
  }

  section {
    display: none;
    width: 200px;
  }

  form {
    padding-left: 30px;
    width: 290px;
    .form-row {
      input[type=text], input[type=password] {
        clear: both;
        width: 250px;
      }
    }
  }

  #grid {
    padding: 0;
    article.span2 { width: 290px; }
    a.icon-fullscreen { display: none ;}
  }

}
