#gif-grid {
  #grid > .core(188px, 20px);
  margin: 0 0 0 60px;
  height: 100%;
  width: 90%;
  width: ~"calc(100% - 60px)";
  float: left; clear: both;

  &.show {
    article {
      visibility: hidden;
    }
  }

  article {
    overflow: hidden;
    position: relative;
    z-index: 1000;

    figure {
      position: relative;
      width: 100%;
      -webkit-perspective: 1000;
      -webkit-transform: translate3d(0,0,0);

      :after {
        content: "loading...";
        #font > #family > .monospace();
        font-size: 8px;
        padding: 4px;
        .transition(opacity 0.6s ease-in);
      }
      img {
        width: 100%;
      }
    }

    &.show {
      visibility: visible !important;
      width: 622px;

      .transition(all 400ms);

      figure img {
        border: 1px solid @ltgray;
        height: none;
        width: auto;
      }
    }

    &:hover .controls { left: 0; }

    .controls {
      position: absolute;
      top: 0px;
      left: -11em;
      background: rgba(255,255,255, 0.5);
      height: 3em;
      .transition(e('left 0.2s ease-in-out'));

      a {
        text-decoration: none;
        color: @black;
        font-size: 1.5em;
        padding: 0.5em;
        float: left;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);

        &:active i {
          position: relative;
          bottom: -1px;
          right: -1px;
        }
      }
    }

    .progress {
      position: absolute;
      background: @blue;
      left: 0; top: 0;
      .box-shadow(0px 0px 4px 0px @blue);
      .size(10px,5%);
      .transition(width 0.4s ease-in-out);
      .opacity(20);
    }
  }

  &.isotope article figure {
    .opacity(100);
    :after {
      .opacity(0);
    }
  }
}

.no-js #grid {
  article figure {
    .opacity(100);
  }
}


