<div class="controls"><a href="http://gif.ly">gif.ly</a><a href="#" data-action="play"><i class="icon-play"></i></a><a href="#" data-action="pause"><i class="icon-pause"></i></a><a href="#" data-action="link"><i class="icon-link"></i></a></div>
