<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/assets/css/gifly.css">

  <script src="/assets/js/vendor/modernizr-2.6.1.min.js"></script>
</head>
<body>

  <header>
    <h1><a href="/">Gifly</a></h1>

    <nav>
      <% if(typeof user !== 'undefined' ){ %>

        <div class="user-nav">
          <a href="/profile" id="login-link">profile</a>
        </div>

        <div class="user-nav">
          <a href="#" data-action='upload'>upload</a>
        </div>

        <div class="user-nav" id="slide">
          <a href="/logout" id="logout-link">logout</a>
        </div>

      <% } else { %>

        <div class="user-nav">
          <a href="/login" id="login-link">profile</a>
        </div>

        <div class="user-nav create">
          <a href="/signup" id="signup-link">signup</a>
        </div>

      <% } %>
    </nav>
  </header>

  <div id="loader">Loading...</div>
