<%- include _header.ejs %>
<h1>Oops. Don't do it again.</h1>
<form action="/user/forgot-password" method="POST">
  <div class="form-row">
    <label for=email>Email</label>
    <input autocorrect="off" autocomplete="off" autocapitalize="off"
    type=text name=email />
  </div>
  <button>Reset Password</button>
</form>
<%- include _footer.ejs %>

