<%- include _header.ejs %>
<section>
  <article>
  <%- readme %>
  </article>
</section>
<div class="container">
  <div class="row" id="random">
    <article class="span8 offset2">
      <figure>
        <img src="/random.gif"/>
      </figure>
    </article>
  </div>
</div>
<a href="javascript: window.location.reload();" class="icon-random random-next"></a>
<%- include _end_scripts %>
<%- include _footer.ejs %>

