<%- include _header.ejs %>
<section>
  <article>
  <%- readme %>
  </article>
</section>
<div class="container">
  <div class="row" id="random">
    <article class="span8 offset2">
      <figure>
        <img src="/random.gif"/>
      </figure>
    </article>
  </div>
</div>
<a href="javascript: void(0);" class="icon-random random-next"></a>
<%- include _end_scripts %>
<script>
jQuery(function($){
  $('body > header').on('click', '[data-action="readme"]', function(e){
    $('body > section').toggleClass('js-show');
    return false;
  });

  $('.random-next').click(function(e){
    location.reload();
    return false;
  });
});
</script>
<%- include _footer.ejs %>

