<%- include _header.ejs %>
<h1>Ok, let's try and remember this one.</h1>
<form action="/reset/<%= token %>" method="POST">
  <div class="form-row">
    <label for=password>Password</label>
    <input type=password name=password />
  </div>
  <div class="form-row">
    <label for=password>Confirm Password</label>
    <input type=password name=confirmation />
  </div>
  <button>Submit</button>
</form>
<%- include _footer.ejs %>
