<%- include _header.ejs %>
<div class="container">
  <div class="row" id="random">
    <article class="span8 offset2">
      <figure>
        <img src="<%= url %>"/>
      </figure>
    </article>
  </div>
</div>
<%- include _footer.ejs %>

