<figure data-id="<%= id %>">
  <img src="<%= cover_url %>"/>
  <div class="progress"></div>
</figure>
<div class="controls">
  <a href="#" data-action="play" class="play"><i class="icon-play"></i></a>
  <a href="#" data-action="pause"><i class="icon-pause"></i></a>
  <a href="#" data-action="fullscreen"><i class="icon-fullscreen"></i></a>
  <a href="<%= hash %>.gif"><i class="icon-link"></i></a>
</div>
