<figure data-id="<%= id %>">
  <img src="<%= cover_url %>"/>
  <div class="progress"></div>
</figure>
<div class="controls">
  <a href="#" data-action="play" class="icon-play"></a>
  <a href="#" data-action="fullscreen" class="icon-fullscreen"></a>
  <a href="<%= hash %>.gif" class="icon-link"></a>
  <a href="/k/?src=<%= hash %>.gif" class="icon-magic"></a>
</div>
